.bookmark {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: calc(var(--bookmark-panel) * 1%) 1fr calc(var(--bookmark-panel) * 1%);
  align-items: center;
  z-index: var(--z-index-bookmark);
}

.bookmark-panel {
  grid-row: 1 / -1;
  align-self: normal;
  background-color:
    hsla(var(--theme-bookmark-background-color-hsla-h),
      calc(var(--theme-bookmark-background-color-hsla-s) * 1%),
      calc(var(--theme-bookmark-background-color-hsla-l) * 1%),
      var(--theme-bookmark-background-color-hsla-a));
  backdrop-filter: blur(calc(var(--theme-bookmark-group-background-blur) * 1px));
  pointer-events: none;
  z-index: 1;
}

.bookmark-panel-left {
  grid-column: 1 / 2;
}

.bookmark-panel-right {
  grid-column: 3 / 4;
}
