.bookmark-group {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em 0;
  z-index: 2;
}

.bookmark-group-item {
  display: grid;
  grid-template-columns: calc(var(--bookmark-panel-size) * 1%) 1fr;
  position: relative;
}

.bookmark-group-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc(var(--bookmark-group-color-primary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-primary-hsl-l) * 1%));
  gap: 3em;
  padding: 0 3em;
}

.bookmark-group-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.bookmark-group-name {
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc((var(--bookmark-group-color-primary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-primary-hsl-l) - 20) * 1%));
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--theme-transition-fast-ease);
}

.bookmark-group-active .bookmark-group-name {
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc(var(--bookmark-group-color-primary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-primary-hsl-l) * 1%));
}

.bookmark-group-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc((var(--bookmark-group-color-secondary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-secondary-hsl-l) - 20) * 1%));
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--theme-transition-fast-ease);
}

.bookmark-group-active .bookmark-group-description {
  color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc(var(--bookmark-group-color-secondary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-secondary-hsl-l) * 1%));
}

.bookmark-group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0 1em;
  align-items: center;
}
