.bookmark-group {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: calc((var(--bookmark-group-spacing) / 10) * 1em);
  padding: calc((var(--bookmark-group-spacing) / 10) * 1em) 0;
  z-index: 2;
}

.bookmark-group-item {
  display: grid;
  grid-template-columns: calc(var(--bookmark-panel) * 1%) 1fr calc(var(--bookmark-panel) * 1%);
  position: relative;
}

.bookmark-group-tab {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc(var(--bookmark-group-color-primary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-primary-hsl-l) * 1%));
  gap: calc((var(--bookmark-tab-spacing) / 10) * 1em);
  padding: 0 calc((var(--bookmark-tab-spacing) / 10) * 1em);
}

.bookmark-group-item-left .bookmark-group-tab {
  grid-column: 1 / 2;
  flex-direction: row;
  text-align: right;
}

.bookmark-group-item-right .bookmark-group-tab {
  grid-column: 3 / 4;
  flex-direction: row-reverse;
  text-align: left;
}

.bookmark-group-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.bookmark-group-name {
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-family: var(--theme-font), sans-serif;
  font-weight: var(--font-weight-light);
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc((var(--bookmark-group-color-primary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-primary-hsl-l) - 20) * 1%));
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--theme-transition-fast-ease);
}

.bookmark-group-active .bookmark-group-name {
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc(var(--bookmark-group-color-primary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-primary-hsl-l) * 1%));
}

.bookmark-group-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: var(--theme-font), sans-serif;
  font-weight: var(--font-weight-medium);
  color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc((var(--bookmark-group-color-secondary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-secondary-hsl-l) - 20) * 1%));
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--theme-transition-fast-ease);
}

.bookmark-group-active .bookmark-group-description {
  color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc(var(--bookmark-group-color-secondary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-secondary-hsl-l) * 1%));
}

.bookmark-group-list {
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: calc((var(--bookmark-icon-spacing) / 10) * 1em);
  padding: 0 calc((var(--bookmark-icon-spacing) / 10) * 1em);
  align-items: center;
}

.bookmark-group-item-left .bookmark-group-list {
  grid-column: 2 / 4;
  justify-content: flex-start;
}

.bookmark-group-item-right .bookmark-group-list {
  grid-column: 1 / 3;
  justify-content: flex-end;
}
