.bookmark-group {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em 0;
  z-index: 2;
}

.bookmark-group-item {
  display: grid;
  grid-template-columns: calc(var(--bookmark-panel-size) * 1%) 1fr;
  position: relative;
}

.bookmark-group-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc(var(--bookmark-group-color-primary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-primary-hsl-l) * 1%));
  gap: 3em;
  padding: 0 3em;
}

.bookmark-group-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.bookmark-group-name {
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc((var(--bookmark-group-color-primary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-primary-hsl-l) - 20) * 1%));
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--theme-transition-fast-ease);
}

.bookmark-group-active .bookmark-group-name {
  color: hsl(var(--bookmark-group-color-primary-hsl-h),
      calc(var(--bookmark-group-color-primary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-primary-hsl-l) * 1%));
}

.bookmark-group-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc((var(--bookmark-group-color-secondary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-secondary-hsl-l) - 20) * 1%));
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--theme-transition-fast-ease);
}

.bookmark-group-active .bookmark-group-description {
  color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc(var(--bookmark-group-color-secondary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-secondary-hsl-l) * 1%));
}

.bookmark-group-indicator {
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 0.25em;
  height: 100%;
}

.bookmark-group-indicator-top,
.bookmark-group-indicator-bottom {
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 50%;
  border-radius: 1em;
  transform: translateX(-50%);
  background-color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc((var(--bookmark-group-color-secondary-hsl-s) - 30) * 1%),
      calc((var(--bookmark-group-color-secondary-hsl-l) - 20) * 1%));
  transition: height var(--theme-transition-fast-ease), background-color var(--theme-transition-medium-ease);
}

.bookmark-group-indicator-top {
  bottom: calc(50% + 1.5em);
}

.bookmark-group-indicator-bottom {
  top: calc(50% + 1.5em);
}

.bookmark-group-item:focus-within .bookmark-group-indicator-top,
.bookmark-group-item:focus-within .bookmark-group-indicator-bottom,
.bookmark-group-active .bookmark-group-indicator-top,
.bookmark-group-active .bookmark-group-indicator-bottom {
  background-color: hsl(var(--bookmark-group-color-secondary-hsl-h),
      calc(var(--bookmark-group-color-secondary-hsl-s) * 1%),
      calc(var(--bookmark-group-color-secondary-hsl-l) * 1%));
  height: 40%;
  transition: height var(--theme-transition-medium-bounce) calc((var(--theme-transition-speed-xfast) / 2) * 1s), background-color var(--theme-transition-medium-ease);
}

.bookmark-group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0 1em;
  align-items: center;
}
