::selection {
  background-color: rgb(var(--theme-accent));
  color: hsl(var(--theme-text));
}

html,
body {
  background-color: hsl(var(--background-color-hsl));
  font-size: var(--font-size);
  line-height: 1.6;
  font-family: var(--theme-font);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: hsl(var(--theme-text));
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
