:root {
  --font-size: calc(var(--theme-scale) * 0.025vmax);
}

::selection {
  background-color: rgb(var(--theme-accent));
  color: hsl(var(--theme-text));
}

html,
body {
  background-color: hsl(var(--background-color-hsl));
  font-size: var(--font-size);
  line-height: 1.6;
  font-family: var(--theme-font);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  color: hsl(var(--theme-text));
  transition: background-color var(--layout-transition-extra-fast);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
